.cart-container{
    /* border:4px solid green; */
    margin: 20% 70px;
    padding-bottom:10px;
    background: linear-gradient(145deg ,rgb(197, 12, 135),rgb(218, 96, 149),rgb(251, 169, 218));
   
}
.cart-heading{
    text-align: center;
    background:linear-gradient(90deg,rgb(47, 0, 128),rgb(59, 72, 172),rgb(143, 151, 238));
    padding:1rem;
    color:white;
    font-weight:900;
    font-size: 22px;
    text-decoration:underline solid  thistle 5px;
   
    
}

.cart-heading:hover{
    filter: brightness(1.3);
}
.cart-item{
    /* border:2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem;
    margin: 30px;
    background:linear-gradient(30deg,rgb(220, 138, 71),rgb(245, 162, 7),rgb(215, 154, 40),rgb(244, 197, 112));
    box-shadow: 2px 2px 20px orangered;  
    color:rgb(65, 65, 204);
    font-size: 22px;
    font-weight: 900;
}

.cart-item:hover{
    transform: scale(1.02);
}

.btn{
    border: none;
    padding:0.1rem 1rem;
    background-color: white;
    box-shadow: 1px 1px 9px rgb(202, 183, 183);
    font-weight: 900;
    font-size: 20px;
   
}
.btn:hover{
    transform: scale(1.05) translate(5px);
}

.remove-btn{
    border: none;
    padding:1.2rem 1.5rem;
    background:linear-gradient(150deg,rgb(127, 210, 127),palegreen,rgb(109, 240, 109),rgb(69, 249, 69),palegreen);
    box-shadow: 3px 3px 12px rgb(41, 135, 41);
    font-weight: 900;
    transition: transform 0.5s ease-out ;
}

.remove-btn:hover{
    transform: scale(1.12);
}

.cart-total{
    /* border:2px solid red; */
    background:linear-gradient(30deg,purple,rgb(156, 59, 156),rgb(142, 39, 142),rgb(209, 80, 209),rgb(173, 17, 173));
    padding: 40px  20px;
    max-width: 500px;
    /* border-radius: 50%; */
    text-align: center;
    color:white;
    font-weight: 900;
    font-size: 20px;
    margin: 15px auto;
    box-shadow: 5px 3px 7px rgb(105, 53, 97);
    transition: transform 0.6s ease-in-out,background 0.4s ease-in;
}
 .cart-total:hover{
   transform:  scale(1.02) translateY(5px) ;
   background: #af379b;
}

.placed{
   
    background:linear-gradient(150deg,rgb(230, 61, 117),rgb(192, 7, 69),rgb(247, 61, 123),rgb(217, 37, 97),rgb(210, 80, 124));
     display: block;
     margin: 15px auto;
     padding: 1.2rem 2.5rem;
     border:none;
     color:white;
     font-size: 20px;
     font-weight: 700;
     box-shadow: 5px 5px 5px rgb(225, 55, 112);
     transition: all 0.3s ease;
}

.placed:hover{
    background: rgb(226, 66, 119);
    transform: scale(1.09) ;
}